* {
	font-family: 'Press Start 2P', cursive;
	color: white;
}

content > .form {
	background: linear-gradient(to bottom right,
		rgba(0,0,0,0.5),
		rgba(41,20,71,0.5),
		rgba(19,20,42,0.5),
		rgba(0,0,0,0.5)
		), url(../../images/bgmenu.png),
		url(../../images/bgmenu2.jpg);
	min-height: 30vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

content > .form > .row > .container > form {
	background: linear-gradient(
		rgb(34,34,230),
		rgb(34,34,176),
		rgb(0,0,128),
		rgb(0,0,32));
	border: 2px solid white;
	border-radius: 10px;
	margin: 10px;
	box-shadow: 0 0 10px black;
	padding: 10px;
}

content > .form > .row > .container > form > .group-header {
	text-align: center;
}

content > .form > .row > .container > form > .form-group,
content > .form > .row > .container > .modal {
	text-shadow: 0 0 10px black;
	font-size: 0.7em;
}

content > .form > .row > .container > .modal > .modal-dialog > .modal-content {
	background: linear-gradient(
		rgba(255,255,255,0.95),
		rgba(44,176,88,0.95),
		rgba(44,88,176,0.95),
		rgba(255,255,255,0.95));
}